{% extends 'base.html.twig' %}

{% block title %}Ajout Produits{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('CSS/AjoutProduit.css') }}">
    <h1>Ajouter un Nouveau produit</h1>

    {{ include('produits/_form.html.twig') }}
<div class="Retour">
    <a href="{{ path('ListeProduits') }}">Revenir a la liste des Produits</a>
</div>
{% endblock %}
