{% extends 'base.html.twig' %}
{% block body %}
   <link rel="stylesheet" href="{{ asset('CSS/Inscription.css') }}">
    <title>Inscription</title>



    <!-- Body -->
  <div class="FormulaireInscription">
        <h1>Formulaire d'inscription</h1>
        {{form(f)}}
    </div>








<!-- footer -->
 {# {%include 'footer.html.twig' %} #}
{% endblock %}